.swiper-slide {
  cursor: pointer;
}

.swiper-slide img {
  border-radius: 10px; /* Tùy chỉnh viền cho hình ảnh */
  object-fit: cover;
  width: 100% !important;
  height: auto;
}

.swiper {
  margin: 0 auto; /* Căn giữa */
}

.swiper {
  margin: 0px auto; /* Căn giữa */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.list-image-thumbs {
  grid-row: 1; /* Phần Swiper chính chiếm hàng đầu */
  width: 100%;
  height: auto;
}

.list-content-thumbs {
  grid-row: 2; /* Phần Swiper thumbnails chiếm hàng dưới */
  width: 100%;
  height: auto;
  margin-top: 0 !important;
  overflow-x: auto; /* Đảm bảo phần thumbnails không bị tràn khi thu nhỏ */
  @media (max-width: 992px) {
    display: none;
  }
}
.content-thumbs-item {
  transition: all 0.3s ease-in-out;
  height: auto;
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
  justify-content: center; /* Căn giữa theo chiều ngang */
}

.content-thumbs-item > div {
  font-size: 15px;
  background-color: transparent !important;
  width: 100%;
}
.content-thumbs-item > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev,
.swiper-button-next {
  color: #000; /* Màu sắc của nút */
  z-index: 10; /* Đảm bảo nút nằm trên các phần tử khác */
}
