* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  z-index: 100000;
  box-sizing: border-box;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #2c2828;
  color: white;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 10px solid white;
  z-index: 1;
  animation: rgb 5s infinite;
}

.square {
  width: 150px;
  height: 150px;
  border: 8px solid cyan;
  z-index: 2;
  animation: spin 5s infinite forwards;
}

.loading {
  width: 300px;
  z-index: 3;
  animation: pulse 2s infinite alternate;
  -webkit-box-reflect: below 20px linear-gradient(#0001, #0002);
}

.loading h2 {
  text-align: center;
  margin-top: 40px;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 1.5px;
  color: cyan;
}

.bar-wrapper {
  display: flex;
  justify-content: flex;
  align-items: center;
  border: 1px solid white;
  width: 100%;
  height: 20px;
}

.bar-progress {
  width: 10%;
  height: 15px;
  background-color: blueviolet;
  animation: progress 10s infinite;
  border: none;
}

.bar-progress:hover {
  animation-play-state: paused;
}

@keyframes rgb {
  20% {
    border: 10px solid red;
  }

  40% {
    border: 10px solid greenyellow;
    transform: scale(0.8);
  }

  60% {
    border: 10px solid white;
  }

  80% {
    border: 10px solid blue;
    transform: scale(1.1);
  }

  100% {
    border: 10px solid yellow;
  }
}

@keyframes spin {
  20% {
    border: 10px solid red;
  }

  40% {
    transform: scale(1.7) rotate(45deg);
  }

  60% {
    border: 10px solid white;
  }

  80% {
    border: 10px solid blue;
    transform: scale(1.2) rotate(360deg);
    background-color: transparent;
  }

  100% {
    border: 10px solid yellow;
  }
}

@keyframes pulse {
  100% {
    transform: scale(1.1);
  }
}

@keyframes progress {
  100% {
    width: 100%;
  }
}
